//config

$bright-orange: #F26030;
$lighter-orange: #F57153;
$text-brown: #7F6925;
$text-black: #474747;
$text-light-grey: #ADADAD;
$text-grey: #484848;
$dark-orange: #C74B2E;

[ng-click] {
	cursor: pointer;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "lato";
}
p, div {
    font-family: 'lato';
}

textarea:focus, input:focus{
    outline: none;
    display: inline-block;
}

body { padding-top: 65px;
background-color: #FFFBF2 }



//extend col-md-2 in production
.col-md-2 {
	padding: 0;
}

//helpers

.center-block {
	text-align: center;
}

//navbar module
.navbar {
	margin-bottom: 0px;
	box-shadow: 0 2px 2px 0 rgba(74,74,74,.3);
}
.navbar-brand {
	padding: 20px 25px;
}
.navbar-default {
	background-color: $bright-orange;
	border: 0;
}

.navbar-default .navbar-brand {
	color: white;
}


.navbar-right {
	img {
	margin-left: 10px;
	}
}

.navbar-nav>li {
	margin-right: 10px;
	border-left: 1px solid #F4845F;
}

.navbar-default .navbar-nav>li>a {
	color: #F7A78C;	
}


//filter module


.filter {
	background-color: #F6ECD4;
	height:1300px;

	&__checkbox-wrapper {
		padding-left: 15px;
	}

	form {
		position: relative;
		background-color: #F3F3F3;

		span {
			width: 15%;
			text-align: center;
			padding: 12px 0;
			border-right: 1px solid #E0E0E0;
			color: #919191;
			background-color: #57CC67;
			color: white;
		}
		input {
			width: 83%;
			padding: 12px 0;
			background-color: transparent;
			border: 0;
			color: $text-grey;
		}
	}
	
	//should fix all these being called labels
	label {
		padding-left: 20px;
		color: $text-grey;
		font-weight: 400;
		display: block;
		letter-spacing: 1.1px;
	}
	h3 {
		font-size: 18px;
		font-weight: 400;
		color: $text-grey;
	}

}

//tags module

.filter-wrapper {
	margin-bottom: 50px;
}
.label {
	padding: 10px 0px 10px 10px;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 1px;
}
.label-tags {
	background-color: $lighter-orange;
	margin-right: 5px;
	transition: all .1s ease-in-out;
	
	&:hover {
		background-color: $dark-orange;
	}
	&__remove {
		padding: 10px;
	}
}


//restaurant cards module

.restaurant-card {
	background-color: #898989;
	width: 20%;
	display: inline-block;
	margin: 1% 2%;
	border: 1px solid #e6e6e6;
	transition: all .2s ease-in-out;
	text-align: left;

	&:hover {
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
		// transition: box-shadow 0.2s ease-in-out;
		transition: all .2s ease-in-out;
		transform: scale(1.1);
		cursor: pointer;

	}
	&__image-wrap {
		height: 150px;
		overflow: hidden;
		img {
			height: 103%;
		}
	}

	&__text-wrap {
		height: 100px;
		background-color: white;
		padding: 12px;
		position: relative;

		h3 {
			margin: 0;
			font-size: 18px;
			font-weight: 400;
			color: $text-black;
			letter-spacing: 1.5px;

		}
		h4 {
			margin: 0;
			margin-top: 3px;
			margin-right: 5px;
			font-size: 12px;
			font-weight: 400;
			color: $text-light-grey;
			display: inline-block;
			letter-spacing: 1.5px;
		}
		.price {
			position: absolute;
			bottom: 25px;
			display:block;
		}
		p {
			position: absolute;
			bottom: 0;
			font-size: 9px;
			letter-spacing: 1.5px;
			color: $text-light-grey;
			opacity: .9;
			font-weight: 300;
		}

		p.location {
			position: absolute;
			bottom: 0;
			right: 12px;
			font-size: 9px;
			letter-spacing: 1.5px;
			color: $text-light-grey;
			opacity: .9;
			font-weight: 300;
		}
	}
}

// price filter module

.price-filter {
	color: $text-light-grey;
	font-size: 20px;
	padding: 5px;

	&:hover {
		cursor: pointer;
	}

	&.selected {
		color: $bright-orange;
	}
	&.hover {
		color: #FFA18B; 
	}
}



// filter heading
.filter-header {
	margin-top: 45px;
	margin-bottom: 20px;

	h1 {
		font-size: 26px;
		font-weight: 300;
		font-color: $text-light-grey;
	}

	a {
		color: $bright-orange;
		font-weight: 500;
		font-size: 28px;
		text-decoration: underline;	
	}
}

.sort {
	margin-left: 20px;
}

//infinite scroll
.scroll {
	margin-top: 12px;
}

