<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 filter">
			<h1>filters</h1>

	        <form ng-submit="submit()">
	            <div class="form-group">
	                <input 
	                	placeholder="pizza, McDonalds, loop" 
	                	type="text" 
	                	ng-model="keywords" 
	                	class="form-control" />
	            </div>
	        </form>


			<h3>Cuisines</h3>
			<label ng-repeat="cuisine in cuisinesFilter">
			  <input
			    type="checkbox"
			    name="selectedCuisines[]"
			    value="{{cuisine.name}}"
			    ng-model="cuisine.value"
			    ng-checked="cuisine.value"
			  > {{cuisine.name}}
			</label>


			<h3>Options</h3>
			<label ng-repeat="option in optionsFilter">
			  <input
			    type="checkbox"
			    name="selectedOptions[]"
			    value="{{option.name}}"
			    ng-model="option.value"
			    ng-checked="option.value"
			  > {{option.name}}
			</label>


		</div>
		<div class="col-md-10">
			<h3>Order for <a href="#">Me</a> for <a href="#">Today</a> at <a href="#">2pm</a></h3>
			<div class="filter-wrapper" >
<!-- 				<span class="label label-tags" ng-repeat="tag in tags" ng-if="tag.value">
	  				{{tag.name}} <span class="label-tags__remove">x</span>
				</span> -->
				<filter-tags ng-repeat="tag in tags" ng-if="tag.value"></filter-tags>
			</div>
			<div class="row">
				<div class="center-block">
					<restaurant-card></restaurant-card>
					<restaurant-card></restaurant-card>
					<restaurant-card></restaurant-card>
					<restaurant-card></restaurant-card>
					<restaurant-card></restaurant-card>
					<restaurant-card></restaurant-card>
					<restaurant-card></restaurant-card>
					<restaurant-card></restaurant-card>
					<restaurant-card></restaurant-card>
					<restaurant-card></restaurant-card>
					<restaurant-card></restaurant-card>
					<restaurant-card></restaurant-card>
					<restaurant-card></restaurant-card>
					<restaurant-card></restaurant-card>
					<restaurant-card></restaurant-card>
					<restaurant-card></restaurant-card>
				</div>
			</div>
<!-- 			<p ng-repeat="restaurant in restaurants">
  				{{restaurant}}
			</p> -->
		</div>
	</div>
</div>